$bg: #0a0a0a;
$default: #fcee0a;
$accent: #00f0ff;

%ag-700 {
  font-family: "aglettericacondensed-bold", sans-serif;
  font-weight: 700;
}

%ag-400 {
  font-family: "aglettericacondensed-regular", sans-serif;
  font-weight: 400;
}

%marske-400 {
  font-family: "Marske", sans-serif;
  font-weight: 400;
}

%decor {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
