@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  padding: 20px 0;
}
.logo {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 340px;
    width: 120px;
    left: 0;
    top: 85px;
    background-image: url("../images/decor/logo-decor.png");
    @extend %decor;
    pointer-events: none;
  }
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  margin: -110px 0 -92px;
  &__decor {
    margin: 0 auto 50px;
  }
  &__title {
    @extend %marske-400;
    font-size: 120px;
    line-height: 1.1;
    position: relative;
    text-shadow: 0 0 1px $default, 2px 2px 1px teal, -2px -2px 1px maroon;
    animation: glitch 3s ease-in-out infinite alternate;
    max-width: 1200px;
    margin: 0 auto 35px;

    @keyframes glitch {
      0%,
      40%,
      44%,
      58%,
      61%,
      65%,
      69%,
      74%,
      100% {
        transform: skewX(0deg);
      }
      41% {
        transform: skewX(10deg);
      }
      42% {
        transform: skewX(-10deg);
      }
      59% {
        transform: skewX(20deg) skewY(5deg);
      }
      60% {
        transform: skewX(-20deg) skewY(-5deg);
      }
      63% {
        transform: skewX(5deg) skewY(-5deg);
      }
      70% {
        transform: skewX(-25deg) skewY(-10deg);
      }
      71% {
        transform: skewX(5deg) skewY(-5deg);
      }
    }
  }
  &__text {
    color: $accent;
    font-size: 24px;
    margin-bottom: 60px;
    @extend %ag-400;
  }
  &__form {
    margin: 0 auto;
  }
  &__input {
    background-color: transparent;
    max-width: 330px;
    width: 100%;
    border-bottom: 3px solid $default;
    margin-right: 20px;
    padding: 5px 0;
    color: $default;
    &::placeholder {
      color: #534e00;
    }
  }
  &__button {
    min-width: 156px;
    padding: 15px 30px;
    border: 3px solid $default;
    background-color: transparent;
    color: $default;
    cursor: pointer;
    transition: transform 0.3s;
    &:hover {
      transform: scale(110%);
    }
    &:active {
      transform: scale(90%);
      transition: transform 0s;
    }
  }
}
.footer {
  position: relative;
  padding: 31px 0;
  &__text {
    text-align: left;
    position: relative;
  }

  &__contacts {
    max-width: 475px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &__contact-item {
    position: relative;
    margin-left: 30px;
    &--phone {
      &:before {
        content: "";
        position: absolute;
        background-image: url("../images/icons/phone.svg");
        width: 20px;
        height: 20px;
        left: -30px;
        top: 4px;
        @extend %decor;
      }
    }
    &--mail {
      &:before {
        content: "";
        position: absolute;
        background-image: url("../images/icons/mail.svg");
        width: 20px;
        height: 16px;
        left: -30px;
        top: 7px;
        @extend %decor;
      }
    }
  }
}
@import "media";
